.leaflet-tooltip-left::before {
  border-left-color: rgb(0, 0, 0);
}
.leaflet-tooltip-right::before {
  border-right-color: rgb(0, 0, 0);
}
.leaflet-tooltip-top::before {
  border-top-color: rgb(0, 0, 0);
}
.leaflet-tooltip-bottom::before {
  border-bottom-color: rgb(0, 0, 0);
}
.leaflet-tooltip {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.616);
  border-radius: 10px;
  background-color: #272e23; /* #272E23 colors.lightBGModal from theme.ts */
}

.leaflet-marker-icon {
  filter: drop-shadow(1px 1px 0px #9cd67d) drop-shadow(-1px -1px 0px #9cd67d)
    drop-shadow(1px -1px 0px #9cd67d) drop-shadow(-1px 1px 0px #9cd67d)
    drop-shadow(1px 0px 0px #9cd67d) drop-shadow(-1px 0px 0px #9cd67d)
    drop-shadow(0px 1px 0px #9cd67d) drop-shadow(0px -1px 0px #9cd67d);
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: #2c3527 !important; /* #272E23 colors.lightBGModal from theme.ts */
}
.leaflet-control-zoom-in > span,
.leaflet-control-zoom-out > span {
  color: #fff !important;
}

.leaflet-control-zoom-in {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.leaflet-control-zoom-out {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.leaflet-control-zoom {
  border-radius: 12px !important;
}

